%h2.bottom_20 Last activity

- @payments.each do |payment|
  %blockquote.blockquote-reverse.small
    = payment.invoice.product.name
    was paid at
    = payment.created_at.strftime('%H:%M (%d.%m.%Y)')
